<ion-content>
  <section *ngIf="(products$ | async).length === 0" class="empty" test-id="empty">
    Nenhum produto adicionado ao carrinho
  </section>
  
  <section *ngIf="(products$ | async).length" test-id="products">
    <ion-list>
      <ion-item lines="none">
        <ion-buttons slot="end">
          <ion-button fill="clear">
            {{totalQuantity$ | async}}
            {{(totalQuantity$ | async) === 1 ? 'item' : 'itens'}}
          </ion-button>
          <ion-button fill="clear">
            {{totalPrice$ | async | currency: "R$ "}}
          </ion-button>
          <ion-button fill="solid" color="primary" (click)="onFinishPurchase()"
            test-id="finish-button">
            Finalizar
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-list>
    <ion-list *ngFor="let shoppingCartProduct of (products$ | async); trackBy:identify">
      <ion-item lines="none" test-id="product">
        <ion-thumbnail slot="start" *ngIf="shoppingCartProduct.product.images?.length">
          <ion-img [src]="shoppingCartProduct.product.images[0].imageUrl"></ion-img>
        </ion-thumbnail>

        <ion-label>
          <h2>
            {{shoppingCartProduct.amount}}x {{shoppingCartProduct.product.name}}
          </h2>
          <p class="price" *ngIf="shoppingCartProduct.product.priceWithDiscount">
            <ion-text>{{shoppingCartProduct.product.priceWithDiscount | currency: "R$ "}}</ion-text>
            <ion-text class="discount">
              {{shoppingCartProduct.product.price | currency: "R$ "}}
            </ion-text>
          </p>
          <p class="price" *ngIf="!shoppingCartProduct.product.priceWithDiscount">
            <ion-text>{{shoppingCartProduct.product.price | currency: "R$ "}}</ion-text>
          </p>
          <p *ngIf="shoppingCartProduct.product.unit === 'KG'">
            Peso total: {{shoppingCartProduct.amount * shoppingCartProduct.product.weight}} Kg
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <div>
          <app-purchase-stock-option *ngIf="shoppingCartProduct.stockOption"
            [stockOption]="shoppingCartProduct.stockOption">
          </app-purchase-stock-option>
          
          <span *ngFor="let notes of notes$ | async">
            <span *ngIf="notes.productId === shoppingCartProduct.product.id">{{notes.notes}}</span>
          </span>
        </div>
        <div slot="end">
          <div align="right">
            <ion-button fill="clear">
              {{shoppingCartProduct | productTotalPrice | currency: "R$ "}}
            </ion-button>
          </div>
          <div class="totalizers" align="center">
            <ion-button fill="clear" color="medium" (click)="minus(shoppingCartProduct)"
              *ngIf="shoppingCartProduct.amount > 1" test-id="minus-item">
              <ion-icon name="remove-circle-outline"></ion-icon>
            </ion-button>
            <ion-button fill="clear" color="danger" (click)="askRemove(shoppingCartProduct)"
              *ngIf="shoppingCartProduct.amount === 1" test-id="remove-item">
              <ion-icon name="close-circle-outline"></ion-icon>
            </ion-button>
            <ion-button fill="clear" color="dark" class="amount">
              {{shoppingCartProduct.amount}}
            </ion-button>
            <ion-button fill="clear" color="medium" (click)="add(shoppingCartProduct)"
              test-id="add-item">
              <ion-icon name="add-circle-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </section>
</ion-content>