ion-content {
    --background: white;
}

section.empty {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.price {
    justify-content: flex-start;
    align-items: flex-start;

    .discount {
        font-size: 1.2rem;
    }
}