ion-content {
    --background: white;
}

section.empty {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.price {
    justify-content: flex-start;
    align-items: flex-start;

    .discount {
        font-size: 1.2rem;
    }
}

.totalizers {
    ion-button {
        --padding-end: 5px;
        --padding-start: 5px;
        &.amount {
            --padding-start: 0;
            --padding-end: 0;
        }
    }
}