<ion-slides pager="true" [options]="slideOpts">
  <ion-slide *ngFor="let slide of slides">
    <img [src]="slide.image" object-fit="cover" />
    <section>
      <div class="product">
        <ion-text>{{slide.name}}</ion-text>
      </div>
      <div class="price">
        <ion-text>{{slide.price.value | currency: slide.price.currency}}</ion-text>
        <ion-text class="discount">{{slide.discount.value | currency: slide.discount.currency}}</ion-text>
        <ion-button color="primary">Ver</ion-button>
      </div>
    </section>
  </ion-slide>
</ion-slides>