<ion-card class="loader status">
  <ion-card-content>
    <ion-skeleton-text [animated]="true"></ion-skeleton-text>
  </ion-card-content>
</ion-card>
<ion-card class="loader products">
  <ion-card-content>
    <ion-skeleton-text [animated]="true"></ion-skeleton-text>
  </ion-card-content>
</ion-card>
<ion-card class="loader payment">
  <ion-card-content>
    <ion-skeleton-text [animated]="true"></ion-skeleton-text>
  </ion-card-content>
</ion-card>
<ion-card class="loader address">
  <ion-card-content>
    <ion-skeleton-text [animated]="true"></ion-skeleton-text>
  </ion-card-content>
</ion-card>