ion-card {
    margin: 0;
    margin-bottom: 1rem;
}

ion-list {
    background: transparent;

    ion-item {
        color: #444;
        font-size: 2.2rem;
        --inner-padding-top: 1rem;
        --inner-padding-bottom: 1rem;

        ion-label {
            white-space: normal;
        }

        ion-icon {
            margin-right: 1.5rem;
        }

        .amount-of-items {
            color: #888;
            font-size: 1.4rem;
        }
    }
}