ion-slides {
    ion-slide:last-of-type {
        ion-card {
            margin-right: 1rem;
        }
    }
}

:host ::ng-deep app-product-card ion-card{
    margin: 0;
    margin-left: 1rem;
    margin-bottom: 0.3rem;
}