<ion-slides [options]="slideOpts">
  <ion-slide *ngFor="let product of (trendings$ | async)">
    <ion-card (click)="goToProduct(product)" test-id="trending">
      <ion-card-content class="ion-no-padding">
        <ion-img object-fit="cover" [src]="product.image"></ion-img>
      </ion-card-content>
      <ion-card-content class="details">
        <ion-text class="description">{{product.title}}</ion-text>
        <div class="price" *ngIf="product.priceWithDiscount">
          <ion-text>{{product.priceWithDiscount | currency: "R$ "}}</ion-text>
          <ion-text class="discount">
            {{product.price | currency: "R$ "}}
          </ion-text>
        </div>
        <div class="price" *ngIf="!product.priceWithDiscount">
          <ion-text>{{product.price | currency: "R$ "}}</ion-text>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-slide>
</ion-slides>