ion-list.delivery-method {
    padding-top: 7rem;
}
ion-card ion-list {
    padding: 0;
}

.delivery-price ion-card-content {
    padding: 0;
}

ion-note ion-skeleton-text {
    width: 6rem;
    margin: 0;
    height: 2rem;
    margin-top: -0.4rem;
}