<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button fill="clear" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Detalhes da compra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section *ngIf="isLoading$ | async" test-id="purchase-detail-loader">
    <app-purchase-detail-loader></app-purchase-detail-loader>
  </section>
  <section *ngIf="(isLoading$ | async) === false" test-id="purchase-detail">
    <div *ngIf="purchase$ | async; let purchase">
      <ion-card>
        <ion-card-content>
          <app-purchase-statuses [purchase]="purchase"></app-purchase-statuses>
        </ion-card-content>
        <ion-card-content *ngIf="purchase.status !== 'FINISHED'">
          <app-purchase-status-message [purchase]="purchase"></app-purchase-status-message>
        </ion-card-content>
      </ion-card>

      <ion-card class="payment-details" *ngIf="purchase.payment">
        <ion-card-header>
          <ion-card-title>Dados do pagamento</ion-card-title>
          <ion-card-subtitle>{{purchase.payment.type | paymentType}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <div class="payment-list">
            <div class="payment-line">
              <ion-label>
                <h2>Produtos</h2>
              </ion-label>
              <p slot="end">{{purchase.price?.products | currency: "R$ "}}</p>
            </div>
            <div class="payment-line" *ngIf="purchase.address">
              <ion-label>
                <h2>Taxa de entrega</h2>
              </ion-label>
              <p slot="end">{{purchase.price?.delivery | currency: "R$ "}}</p>
            </div>
            <div class="payment-line" *ngIf="purchase.price?.discount">
              <ion-label>
                <h2>Desconto ({{purchase.payment.cupom}})</h2>
              </ion-label>
              <p slot="end">- {{purchase.price?.discount | currency: "R$ "}}</p>
            </div>
            <div class="payment-line" *ngIf="purchase.payment.type === 'CREDIT_CARD'">
              <ion-label>
                <h2>Taxa do cartão de crédito</h2>
              </ion-label>
              <p slot="end">{{purchase.price?.paymentFee | currency: "R$ "}}</p>
            </div>
            <div class="payment-line">
              <ion-label>
                <h2>Total</h2>
              </ion-label>
              <p slot="end">{{purchase.price?.totalWithPaymentFee | currency: "R$ "}}</p>
            </div>
          </div>

          <ion-text *ngIf="purchase.payment.type === 'MONEY'" test-id="payment-by-money">
            Pagamento na entrega do produto.
          </ion-text>
          <ion-text *ngIf="purchase.payment.type === 'CREDIT_CARD'" test-id="payment-by-credit-card">
            <span *ngIf="purchase.payment.card">
              <p>Bandeira: {{purchase.payment.card.brand}}</p>
              <p>Número: **** **** **** {{purchase.payment.card.last4}}</p>
              <p>Expiração: {{purchase.payment.card.exp_month}}/{{purchase.payment.card.exp_year}}</p>
            </span>
          </ion-text>

          <ion-button *ngIf="purchase?.payment?.receiptUrl" fill="clear" size="full"
            (click)="showReceipt()" test-id="receipt">
            Ver recibo
          </ion-button>

          <ion-text *ngIf="purchase.payment.error" color="danger" test-id="payment-error">
            Erro ao realizar pagamento: <br/>
            {{purchase.payment.error?.message || (purchase.payment.error | json)}}
            <br/><br/>
            <ion-button color="danger" size="full" (click)="retryPayment()">
              Tentar novamente
            </ion-button>
          </ion-text>
        </ion-card-content>
      </ion-card>

      <ion-card class="product-list">
        <ion-card-header>
          <ion-card-title>Produtos</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item *ngFor="let product of purchase.products">
              <ion-label>
                <h2>{{product.amount}} x {{product.name}}</h2>
                <ion-text class="prices">
                  <p class="price">
                    <span *ngIf="product.priceWithDiscount">
                      {{product.priceWithDiscount | currency: "R$ "}}
                    </span>
                    <span [ngClass]="product.priceWithDiscount ? 'discount' : ''">
                      {{product.price | currency: "R$ "}}
                    </span>
                  </p>
                  <p>{{product.totalPrice | currency: "R$ "}}</p>
                </ion-text>

                <app-purchase-stock-option *ngIf="product.stock"
                  [stockOption]="product.stock">
                </app-purchase-stock-option>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="purchase.productNotes?.length" class="product-list notes">
        <ion-card-header>
          <ion-card-title>Observações</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item *ngFor="let notes of purchase.productNotes">
              <ion-label>
                <h2>{{notes.productId | productNameById : purchase.products}}</h2>
                <p>{{notes.notes}}</p>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Dados da entrega</ion-card-title>
          <ion-card-subtitle>
            <span *ngIf="purchase.address">Entrega à domicílio</span>
            <span *ngIf="!purchase.address">Buscar na loja</span>
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content *ngIf="address$ | async; let address">
          <p>Rua: {{address.street}}</p>
          <p>Número: {{address.number}}</p>
          <p>Bairro: {{address.neighborhood}}</p>
          <p>CEP: {{address.zipCode}}</p>
          <p>Complemento: {{address.complement}}</p>
          <p>Cidade: {{address.city}}</p>
          <p>Estado: {{address.state}}</p>
        </ion-card-content>
      </ion-card>
    </div>
  </section>
</ion-content>