ion-content {
    --padding-top: 7rem;
}

.prices {
    display: flex;
    justify-content: space-between;

    .discount {
        font-size: 1.4rem;
    }
}

ion-card {
    &.product-list {
        ion-card-content {
            padding: 0;
        }
    }
    ion-list {
        padding: 0;
    }
}

.payment-list {
    margin-bottom: 15px;
    .payment-line {
        display: flex;
        justify-content: space-between;
        [slot="end"] {
            text-align: end;
        }
    }
}