<ion-card (click)="goToProduct(product)" test-id="product">
  <ion-card-content class="ion-no-padding">
    <ion-img object-fit="cover" *ngIf="product.images?.length" [src]="product.images[0].imageUrl"></ion-img>
  </ion-card-content>
  <ion-card-content class="details">
    <ion-text color="primary" class="description">{{product.name}}</ion-text>
    <div class="price" *ngIf="product.priceWithDiscount">
      <ion-text color="primary">{{product.priceWithDiscount | currency: "R$ "}}</ion-text>
      <ion-text class="discount">
        {{product.price | currency: "R$ "}}
      </ion-text>
    </div>
    <div class="price" *ngIf="!product.priceWithDiscount">
      <ion-text color="primary">{{product.price | currency: "R$ "}}</ion-text>
    </div>
    <ion-text *ngIf="product.unit" class="weight">{{product.weight}} {{product.unit}}</ion-text>
  </ion-card-content>
</ion-card>