ion-list {
    padding: 0;
    &.payment-method {
        padding-top: 70px;
        ion-button {
            font-size: 18px;
        }
    }
}

input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    opacity: 0;
}

ion-skeleton-text {
    height: 15px;
}

.card-numbers {
    display: flex;
    ion-item {
        padding-right: 8px;

        &:last-child {
            padding-right: 0;
        }
    }
}

ion-card {
    &.credit-cards-loader ion-card-content {
        padding: 0;
        ion-skeleton-text {
            height: 7.4rem;
            margin: 0;
        }
    }

    h2 {
        text-transform: uppercase !important;
        font-weight: bold !important;
    }
}