<form [formGroup]="form" *ngIf="form">
  <ion-list *ngIf="isLoadingPrice$ | async" class="payment-method" test-id="price-loader">
    <ion-item lines="none" *ngFor="let a of [1,2]">
      <ion-label>
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-label>
    </ion-item>
  </ion-list>

  <span *ngIf="!(isLoadingPrice$ | async)">
    <ion-list *ngIf="price$ | async; let price" class="payment-method" test-id="price">
      <ion-item lines="none">
        <ion-label>Valor da compra</ion-label>
        <ion-button fill="clear" color="success" slot="end">
          {{price.productsPrice | currency: "R$ "}}
        </ion-button>
      </ion-item>
      <ion-item lines="none" *ngIf="price.deliveryPrice" test-id="delivery-price">
        <ion-label>Entrega</ion-label>
        <ion-button fill="clear" color="success" slot="end">
          {{price.deliveryPrice | currency: "R$ "}}
        </ion-button>
      </ion-item>
      <ion-item lines="none" *ngIf="price.discount">
        <ion-label>Desconto</ion-label>
        <ion-button fill="clear" color="success" slot="end">
          - {{price.discount | currency: "R$ "}}
        </ion-button>
      </ion-item>
      <ion-item lines="none" *ngIf="form.value.paymentType === 'CREDIT_CARD'" test-id="credit-card-fee">
        <ion-label>Taxa do cartão</ion-label>
        <ion-button fill="clear" color="success" slot="end">
          {{price.paymentFee | currency: "R$ "}}
        </ion-button>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Valor total</ion-label>
        <ion-button fill="clear" color="success" slot="end">
          <span *ngIf="form.value.paymentType !== 'CREDIT_CARD'">
            {{price.totalPrice | currency: "R$ "}}
          </span>
          <span *ngIf="form.value.paymentType === 'CREDIT_CARD'">
            {{price.totalWithPaymentFee | currency: "R$ "}}
          </span>
        </ion-button>
      </ion-item>
      <ion-item class="cupom">
        <ion-label color="primary" position="floating">Cupom de desconto</ion-label>
        <ion-input formControlName="cupom"></ion-input>
        <ion-button *ngIf="!(isLoadingCupom$ | async)" slot="end" color="primary" fill="clear"
          (click)="loadCupom()" test-id="search-cupom-button">
          <ion-icon name="search" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button *ngIf="isLoadingCupom$ | async" slot="end" color="primary" fill="clear"
          test-id="cupom-loader">
          <ion-spinner></ion-spinner>
        </ion-button>
      </ion-item>
    </ion-list>
  </span>

  <ion-list>
    <ion-radio-group formControlName="paymentType">
      <span *ngIf="company?.payment?.pixKey">
        <ion-item test-id="pix">
          <ion-label>PIX</ion-label>
          <ion-radio slot="start" [value]="PaymentType.PIX"></ion-radio>
        </ion-item>
      </span>
      <span *ngIf="company?.payment?.money">
        <ion-item *ngIf="!address || address?.city === company?.address?.city" test-id="money">
          <ion-label>Dinheiro (ao receber produto)</ion-label>
          <ion-radio slot="start" [value]="PaymentType.MONEY"></ion-radio>
        </ion-item>
      </span>
      <ion-item *ngIf="company?.payment?.creditCard" test-id="credit-card">
        <ion-label>Cartão de crédito</ion-label>
        <ion-radio slot="start" [value]="PaymentType.CREDIT_CARD"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-card *ngIf="form.value.paymentType === 'PIX'" (click)="copyPix()" test-id="pix-key">
    <ion-card-header>
      <ion-card-title>Chave PIX</ion-card-title>
      <ion-card-subtitle>
        <ion-skeleton-text *ngIf="!company?.payment?.pixKey" [animated]="true"></ion-skeleton-text>
        <span *ngIf="company?.payment?.pixKey">{{company.payment.pixKey}}</span>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content align="right">* Clique para copiar</ion-card-content>
  </ion-card>

  <span *ngIf="form.value.paymentType === 'CREDIT_CARD'">
    <section *ngIf="isLoadingCreditCards$ | async" test-id="credit-cards-loader">
      <ion-card class="credit-cards-loader">
        <ion-card-content>
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-card-content>
      </ion-card>
    </section>
    <section *ngIf="!(isLoadingCreditCards$ | async)" test-id="credit-cards">
      <ion-card *ngFor="let creditCard of creditCards$ | async"
        (click)="askCreditCardPayment(creditCard)" test-id="saved-credit-card">
        <ion-card-content>
          <ion-item lines="none">
            <ion-label>
              <h2>{{creditCard.brand}}</h2>
            </ion-label>
            <div slot="end">
              <p>**** **** **** {{creditCard.last4}}</p>
              <p align="right">{{creditCard.exp_month}}/{{creditCard.exp_year}}</p>
            </div>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </section>
    
    <ion-card test-id="credit-card-form">
      <ion-card-header>
        <ion-card-title>Dados do Cartão</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list formGroupName="creditCard">
          <ion-item>
            <ion-label position="floating">Tipo</ion-label>
            <ion-select formControlName="cardFlag">
              <ion-select-option *ngFor="let flag of company.payment?.creditCard.flags" [value]="flag">
                {{flag}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Número do cartão</ion-label>
            <ion-input type="tel" formControlName="cardNumber"
              [brmasker]="{mask:'0000   0000   0000   0000', len:25}">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Nome do titular</ion-label>
            <ion-input formControlName="cardHolder"></ion-input>
          </ion-item>
          <div class="card-numbers">
            <ion-item>
              <ion-label position="floating">Mês</ion-label>
              <ion-input type="tel" formControlName="cardMonth" [brmasker]="{mask:'00', len:2}"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Ano</ion-label>
              <ion-input type="tel" formControlName="cardYear" [brmasker]="{mask:'0000', len:4}"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">CVV</ion-label>
              <ion-input type="tel" formControlName="cardCvc" [brmasker]="{mask:'000', len:3}"></ion-input>
            </ion-item>
          </div>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card test-id="billing-address">
      <ion-card-header>
        <ion-card-title>Endereço de cobrança</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list formGroupName="billingAddress">
          <ion-item>
            <ion-label position="floating">Logradouro</ion-label>
            <ion-input type="tel" formControlName="street">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Número</ion-label>
            <ion-input type="tel" formControlName="number">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Bairro</ion-label>
            <ion-input type="tel" formControlName="neighborhood">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">CEP</ion-label>
            <ion-input type="tel" formControlName="zipCode" [brmasker]="{mask:'00.000-000', len:10}">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Cidade</ion-label>
            <ion-input type="tel" formControlName="city">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Estado*</ion-label>
            <ion-select formControlName="state">
              <ion-select-option *ngFor="let state of states" [value]="state.code">
                {{state.name}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </span>

  <div class="ion-padding">
    <span *ngIf="!(isLoadingPrice$ | async)" test-id="action-buttons">
      <ion-button size="full" (click)="finishPurchase()" *ngIf="form.value.paymentType !== 'PIX'"
        test-id="finish-purchase-button">
        Finalizar pedido
      </ion-button>
      <ion-button size="full" *ngIf="form.value.paymentType === 'PIX'" test-id="receipt-button">
        <input type="file" (change)="uploadReceipt($event)" accept=".png, .jpg, .pdf"/>
        Enviar comprovante
      </ion-button>
    </span>
    <div *ngIf="isLoadingPrice$ | async" align="middle">
      <ion-spinner color="primary"></ion-spinner>
    </div>
  </div>
</form>