<p class="main-message" *ngIf="purchase.status !== 'CANCELLED'">
  <ion-text color="primary" *ngIf="purchase.status === 'CREATED'"
    test-id="created-payment-message">
    Por favor, aguarde enquanto atendemos o seu pedido.
  </ion-text>
  <ion-text color="primary" *ngIf="purchase.status === 'VERIFYING_PAYMENT'"
    test-id="verifying-payment-message">
    Por favor, aguarde enquanto confirmamos o seu pagamento.
  </ion-text>
  <ion-text color="primary" *ngIf="purchase.status === 'PAID'" test-id="paid-message">
    Confirmamos o pagamento da sua compra. Em breve você receberá mais informações sobre a sua compra.
  </ion-text>
  <ion-text color="primary" *ngIf="purchase.status === 'SORTING_OUT'" test-id="sorting-out-message">
    Estamos separando a sua compra. Em breve ela estará pronta para
    <span *ngIf="purchase.address">entrega.</span>
    <span *ngIf="!purchase.address">você buscar na loja.</span>
  </ion-text>
  <ion-text color="primary" *ngIf="purchase.status === 'READY'" test-id="ready-message">
    Sua compra está pronta.
    <span *ngIf="purchase.address">Em breve você receberá os seus produtos.</span>
    <span *ngIf="!purchase.address">Você já pode buscar os seus produtos na loja.</span>
  </ion-text>
  <ion-text color="primary" *ngIf="purchase.status === 'DELIVERYING'" test-id="deliverying-message">
    Sua compra está a caminho e em breve chegará até a sua casa.
  </ion-text>
  <ion-text color="primary" *ngIf="purchase.status === 'WAITING_PAYMENT'"
    test-id="waiting-payment-message">
    Escolha como pagar a sua compra.
  </ion-text>
</p>

<ion-text color="danger" *ngIf="purchase.status === 'CANCELLED' && purchase.reason"
  test-id="cancelled-message">
  Motivo: {{purchase.reason}}
</ion-text>