<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="hasBackButton">
      <ion-back-button fill="clear" color="light"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start" *ngIf="!hasBackButton">
      <ion-button (click)="goHome()">
        <ion-icon name="home" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <app-header></app-header>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="product" *ngIf="(isLoading$ | async) === false" test-id="product">
    <div *ngIf="product$ | async; let product">
      <section class="images">
        <ion-slides pager="true">
          <ion-slide *ngFor="let image of product.images" test-id="banner">
            <img [src]="image.imageUrl" object-fit="cover" />
          </ion-slide>
        </ion-slides>
      </section>

      <section class="header">
        <div class="title">
          <ion-text>{{product.name}}</ion-text>
        </div>
        <div class="price" *ngIf="product.priceWithDiscount">
          <ion-text>{{product.priceWithDiscount | currency: "R$ "}}</ion-text>
          <ion-text class="discount">
            {{product.price | currency: "R$ "}}
          </ion-text>
        </div>
        <div class="price" *ngIf="!product.priceWithDiscount">
          <ion-text>{{product.price | currency: "R$ "}}</ion-text>
        </div>
      </section>

      <section class="options" *ngIf="product | productHasSize" test-id="product-sizes">
        <app-product-sizes [showRequiredError]="hasTriedToAdd"></app-product-sizes>
      </section>

      <div *ngIf="!(product | productHasSize) || (selectedSize$ | async)">
        <section class="options" *ngIf="product | productHasColor" test-id="product-colors">
          <app-product-colors [showRequiredError]="hasTriedToAdd"></app-product-colors>
        </section>
      </div>

      <section class="shopping-cart">
        <ion-fab-button (click)="reduceFromShoppingCart()"
          [disabled]="(selectedAmount$ | async) === 0" test-id="reduce-product-button">
          <ion-icon name="close" *ngIf="(selectedAmount$ | async) === 1"></ion-icon>
          <ion-icon name="remove" *ngIf="(selectedAmount$ | async) > 1"></ion-icon>
        </ion-fab-button>
        <ion-label color="primary">{{selectedAmount$ | async}}</ion-label>
        <ion-fab-button (click)="addToShoppingCart()" test-id="add-product-button">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </section>

      <section class="options" *ngIf="product.description" test-id="product-description">
        <div class="title">
          <ion-text>Descrição:</ion-text>
        </div>
        <div [innerHTML]="product.description" class="description"></div>
      </section>
    </div>
  </div>

  <div test-id="loader" *ngIf="isLoading$ | async">
    <app-product-loader></app-product-loader>
  </div>
</ion-content>

<!-- <ion-footer *ngIf="(isLoading$ | async) === false">
  <ion-toolbar color="primary">
    <ion-title align="middle" class="opacity">
      Adicionar ao carrinho
    </ion-title>
  </ion-toolbar>
</ion-footer> -->