<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button fill="solid"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="solid" size="large" color="primary"
        (click)="showShoppingCart()" test-id="shopping-cart-button">
        <ion-icon name="cart-outline"></ion-icon>
        &nbsp;{{totalQuantity$ | async}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="product" *ngIf="(isLoading$ | async) === false" test-id="product">
    <div *ngIf="product$ | async; let product">
      <section class="images">
        <ion-slides pager="true">
          <ion-slide *ngFor="let image of product.images" test-id="banner">
            <img [src]="image" object-fit="cover" />
          </ion-slide>
        </ion-slides>
      </section>

      <section class="header">
        <div class="title">
          <ion-text>{{product.title}}</ion-text>
        </div>
        <div class="price">
          <ion-text>{{product.price | currency: "R$ "}}</ion-text>
          <ion-text class="discount">
            {{product.priceWithDiscount | currency: "R$ "}}
          </ion-text>
        </div>
      </section>

      <section class="options" *ngIf="product.colors?.length" test-id="product-colors">
        <div class="title">
          <ion-text>Cor *:</ion-text>
        </div>
        <ion-icon name="ellipse" *ngFor="let color of product.colors"
          [ngStyle]="{'color': color | color}" (click)="setColor(color)"
          [ngClass]="color === selectedColor ? 'selected' : ''" test-id="color">
        </ion-icon>
        <div *ngIf="hasTriedToAdd && !selectedColor">
          <ion-text color="danger" class="error" test-id="color-required-error">
            Cor é obrigatória
          </ion-text>
        </div>
      </section>

      <section class="options" *ngIf="product.sizes?.length" test-id="product-sizes">
        <div class="title">
          <ion-text>Tamanho *:</ion-text>
        </div>
        <div>
          <ion-segment mode="ios" (ionChange)="setSize($event)">
            <ion-segment-button *ngFor="let size of product.sizes" [value]="size"
              test-id="size">
              <ion-label>{{size}}</ion-label>
            </ion-segment-button>
          </ion-segment>
        </div>
        <div *ngIf="hasTriedToAdd && !selectedSize">
          <ion-text color="danger" class="error" test-id="size-required-error">
            Tamanho é obrigatório
          </ion-text>
        </div>
      </section>

      <section class="options" *ngIf="product.description" test-id="product-description">
        <div class="title">
          <ion-text>Descriçao:</ion-text>
        </div>
        <div [innerHTML]="product.description" class="description"></div>
      </section>
    </div>
  </div>

  <div test-id="loader" *ngIf="isLoading$ | async">
    <app-product-loader></app-product-loader>
  </div>
</ion-content>

<ion-footer *ngIf="(isLoading$ | async) === false">
  <ion-toolbar color="primary">
    <ion-title align="middle" (click)="addToShoppingCart()" class="opacity"
      test-id="add-product-button">
      Adicionar ({{totalPrice$ | async | currency: "R$ "}})
    </ion-title>
  </ion-toolbar>
</ion-footer>

<script>
  var modal = document.querySelector('ion-modal');
  var searchBar = document.querySelector('ion-searchbar');

  modal.breakpoints = [0, 0.25, 0.5, 0.75];

  searchBar.addEventListener('click', () => {
    modal.setCurrentBreakpoint(0.75);
  });
</script>