<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" color="light" (click)="close()" test-id="close-button">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="light">Pagamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-payment-form
    [address]="purchase.address"
    [company]="company$ | async"
    [deliveryPrice]="purchase.deliveryPrice"
    [totalPrice]="totalPrice"
    [purchase]="purchase"
  ></app-payment-form>
</ion-content>