<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-img *ngIf="(company$ | async)?.logo?.imageUrl; let imageUrl" [src]="imageUrl"
          test-id="company-logo">
        </ion-img>
        <ion-list>
          <ion-note *ngIf="user$ | async">Logado como<br/>{{(user$ | async).email}}</ion-note>
          <ion-item lines="none" test-id="purchases-menu" (click)="goToPage('purchases')"
            *ngIf="user$ | async">
            <ion-icon name="bag-check" color="primary" slot="start"></ion-icon>
            <ion-label color="primary">Minhas compras</ion-label>
          </ion-item>
          <ion-item lines="none" test-id="credit-cards-menu" (click)="goToPage('credit-cards')"
            *ngIf="user$ | async">
            <ion-icon name="card" color="primary" slot="start"></ion-icon>
            <ion-label color="primary">Cartões de crédito</ion-label>
          </ion-item>
          <ion-item lines="none" test-id="contact-us-menu" (click)="goToPage('contact-us')">
            <ion-icon color="primary" slot="start" name="chatbubbles"></ion-icon>
            <ion-label color="primary">Entre em contato</ion-label>
          </ion-item>
          <ion-item lines="none" test-id="about-us-menu" (click)="goToPage('about-us')">
            <ion-icon color="primary" name="information-circle" slot="start"></ion-icon>
            <ion-label color="primary">Sobre nós</ion-label>
          </ion-item>
          <ion-item lines="none" *ngIf="isMultiCompany$ | async" (click)="openChangeCompany()"
            test-id="change-company-menu">
            <ion-icon color="primary" slot="start" name="storefront"></ion-icon>
            <ion-label color="primary">Mudar filial</ion-label>
          </ion-item>
          <ion-item lines="none" test-id="logout-menu" (click)="logout()" *ngIf="user$ | async">
            <ion-icon name="log-out" slot="start"></ion-icon>
            <ion-label>Sair</ion-label>
          </ion-item>
          <ion-item lines="none" test-id="login-menu" (click)="openLogin()" *ngIf="!(user$ | async)">
            <ion-icon name="person" slot="start"></ion-icon>
            <ion-label>Entrar</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <div [hidden]="isLoading$ | async" class="centralize" test-id="app">
      <ion-router-outlet id="main-content"></ion-router-outlet>
    </div>
    <div [hidden]="(isLoading$ | async) === false" class="centralize" test-id="app-loader">
      <ion-spinner color="primary"></ion-spinner>
    </div>
  </ion-split-pane>
</ion-app>
