<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="hasBackButton">
      <ion-back-button fill="clear" color="light"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start" *ngIf="!hasBackButton">
      <ion-button (click)="goHome()">
        <ion-icon name="home" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="light"></ion-title>
    <ion-buttons slot="end">
      <app-header></app-header>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section *ngIf="isLoading$ | async" class="loader" test-id="products-loader">
    <div class="title">
      <ion-skeleton-text animated></ion-skeleton-text>
    </div>

    <ion-skeleton-text animated *ngFor="let i of [1,2,3,4,5,6]"></ion-skeleton-text>
  </section>

  <section *ngIf="(isLoading$ | async) === false" class="products" test-id="products">
    <div class="title">
      <ion-label color="primary">{{(category$ | async)?.name}}</ion-label>
    </div>

    <ion-list>
      <ion-item *ngFor="let product of (products$ | async)" (click)="goToProduct(product)">
        <ion-thumbnail slot="start">
          <ion-img object-fit="cover" *ngIf="product.images?.length" [src]="product.images[0].imageUrl"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <div><ion-text color="primary" class="description">{{product.name}}</ion-text></div>
          <div><ion-text *ngIf="product.unit" class="weight">{{product.weight}} {{product.unit}}</ion-text></div>
          <div class="price" *ngIf="product.priceWithDiscount">
            <ion-text class="discount">
              {{product.price | currency: "R$ "}}
            </ion-text>
            <ion-text color="primary">{{product.priceWithDiscount | currency: "R$ "}}</ion-text>
          </div>
          <div class="price" *ngIf="!product.priceWithDiscount">
            <ion-text color="primary">{{product.price | currency: "R$ "}}</ion-text>
          </div>
        </ion-label>
      </ion-item>
    </ion-list>
  </section>
</ion-content>