.status {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;

    ion-icon {
        font-size: 2rem;
    }

    .status-item {
        text-align: center;

        &.selected {
            color: var(--ion-color-primary);
            font-weight: 600;
        }
    }
}