<ion-slides pager="true">
  <ion-slide *ngFor="let product of (banners$ | async)" test-id="banner">
    <img [src]="product.image" object-fit="cover" />
    <section>
      <div class="product">
        <ion-text>{{product.title}}</ion-text>
      </div>
      <div class="price" *ngIf="product.priceWithDiscount">
        <ion-text>{{product.priceWithDiscount | currency: "R$ "}}</ion-text>
        <ion-text class="discount">
          {{product.price | currency: "R$ "}}
        </ion-text>
        <ion-button color="primary" (click)="goToProductPage(product)" test-id="action-button">
          Ver
        </ion-button>
      </div>
      <div class="price" *ngIf="!product.priceWithDiscount">
        <ion-text>{{product.price | currency: "R$ "}}</ion-text>
        <ion-button color="primary" (click)="goToProductPage(product)" test-id="action-button">
          Ver
        </ion-button>
      </div>
    </section>
  </ion-slide>
</ion-slides>