ion-slide {
    img {
        height: 50vh;
        width: 100vh;
        object-fit: cover;
        border-radius: 0 0 4rem 4rem;
    }
    section {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: left;
        border-radius: 0 0 4rem 4rem;
        background: rgba(0,0,0,0.5);
        background: linear-gradient(0deg, rgba(2,0,36,1) 0%, transparent 100%);
        padding: 4rem 2rem 4rem 2rem;

        .product {
            color: white;
            font-weight: 600;
            font-size: 3.2rem;
        }
        
        .price {
            color: white;
        }
    }
}