<section class="images">
  <ion-skeleton-text animated class="product-images"></ion-skeleton-text>
</section>
<section class="header">
  <ion-skeleton-text animated class="product-title"></ion-skeleton-text>
  <ion-skeleton-text animated class="product-price"></ion-skeleton-text>
</section>
<section class="options">
  <ion-skeleton-text animated class="options-title"></ion-skeleton-text>
  <div class="options-round">
    <ion-skeleton-text animated class="options"></ion-skeleton-text>
    <ion-skeleton-text animated class="options"></ion-skeleton-text>
    <ion-skeleton-text animated class="options"></ion-skeleton-text>
    <ion-skeleton-text animated class="options"></ion-skeleton-text>
    <ion-skeleton-text animated class="options"></ion-skeleton-text>
  </div>
</section>
<section class="options">
  <ion-skeleton-text animated class="options-title"></ion-skeleton-text>
  <div class="options-size">
    <ion-skeleton-text animated class="option"></ion-skeleton-text>
  </div>
</section>