ion-content {
    --background: rgb(244,248,254);
}

ion-searchbar {
    position: absolute;
    z-index: 9;
    --background: rgba(0,0,0,0.5);
    --color: white;
    --icon-color: white;
    --placeholder-color: white;
    --placeholder-opacity: 0.8;
}

section {
    margin: 1rem 0;
}

.categories-wrapper {
    padding: 1rem;
}
.trending-wrapper {
    padding: 1rem 0;
}