<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button fill="clear" color="light"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <app-header [hasSearchButton]="true"></app-header>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="banners">
    <ion-skeleton-text *ngIf="isLoading$ | async" animated test-id="banners-loader"></ion-skeleton-text>
    <app-banners *ngIf="(isLoading$ | async) === false" test-id="banners"></app-banners>
  </section>

  <section class="trending">
    <app-section-title title="Em destaque"></app-section-title>
    <div class="trending-wrapper">
      <div class="loader" *ngIf="isLoadingTrendings$ | async" test-id="trendings-loader">
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
      </div>
      <app-trending *ngIf="(isLoadingTrendings$ | async) === false" test-id="trendings"></app-trending>
    </div>
  </section>

  <section class="categories">
    <app-section-title title="Categorias"></app-section-title>
    <div class="categories-wrapper">
      <div test-id="categories-loader" *ngIf="isLoadingCategories$ | async">
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
      </div>
      <app-categories *ngIf="(isLoadingCategories$ | async) === false" test-id="categories"></app-categories>
    </div>
  </section>
</ion-content>