ion-searchbar {
    position: absolute;
    z-index: 9;
    --background: rgba(0,0,0,0.5);
    --color: white;
    --icon-color: white;
    --placeholder-color: white;
    --placeholder-opacity: 0.8;
}

section.banners {
    ion-skeleton-text {
        height: 50vh;
        margin: 0;
    }
}

section.trending {
    .loader {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    ion-skeleton-text {
        height: 270px;
    }
}

section.categories {
    ion-skeleton-text {
        height: 50px;
    }
}

section.trending,
section.category {
    margin: 1rem 0;
}

.categories-wrapper {
    padding: 1rem;
}
.trending-wrapper {
    padding: 1rem 0;
}