ion-card {
    ion-card-subtitle {
        color: black;
    }
    &.CREATED {
        border-top: 5px solid transparent;
    }
    &.payment-error {
        border-top: 5px solid var(--ion-color-danger);
    }
}