<ion-card (click)="goToPurchaseDetail()"
  [ngClass]="purchase.status + ' ' + (purchase.payment?.error ? 'payment-error' : '')"
  test-id="purchase-card">
  <ion-card-content>
    <app-purchase-statuses [purchase]="purchase"></app-purchase-statuses>
  </ion-card-content>
  <ion-card-content>
    <div *ngIf="purchase.status !== 'FINISHED'">
      <div *ngIf="!purchase.payment?.error" test-id="purchase-message">
        <app-purchase-status-message [purchase]="purchase"></app-purchase-status-message>
      </div>
    </div>
    <div *ngIf="purchase.payment?.error" class="main-message">
      <p>
        <ion-text color="danger" test-id="payment-error">
          Não conseguimos processar o seu pagamento.
        </ion-text>
      </p>
      <ion-button color="danger" size="full" test-id="retry-payment-button">
        Tentar novamente
      </ion-button>
    </div>

    <ng-template [ngIf]="purchase.status === 'WAITING_PAYMENT' && !purchase.payment?.error">
      <div class="main-message">
        <ion-button color="primary" size="full" test-id="payment-button">
          Fazer pagamento
        </ion-button>
      </div>
    </ng-template>

    <p>{{purchase.price?.totalWithPaymentFee | currency: "R$ "}}</p>
    <p *ngIf="purchase.address">Entrega à domicílio.</p>
    <p *ngIf="!purchase.address">Busca na loja.</p>
    <p *ngIf="purchase.payment">Pagamento com {{purchase.payment?.type | paymentType}}.</p>
    <p>
      Pedido criado em
      {{purchase.createdAt | date: "dd/MM/yyyy"}}
      às
      {{purchase.createdAt | date: "HH:mm"}}.
    </p>
  </ion-card-content>
</ion-card>