<ion-card (click)="goToPurchaseDetail()"
  [ngClass]="purchase.status + ' ' + (purchase.payment?.error ? 'payment-error' : '')"
  test-id="purchase-card">
  <ion-card-content>
    <app-purchase-statuses [purchase]="purchase"></app-purchase-statuses>
  </ion-card-content>
  <ion-card-content>
    <div *ngIf="!purchase.payment?.error" test-id="purchase-message">
      <app-purchase-status-message [purchase]="purchase"></app-purchase-status-message>
    </div>
    <div *ngIf="purchase.payment?.error" class="main-message">
      <p>
        <ion-text color="danger" test-id="payment-error">
          Não conseguimos processar o seu pagamento.
        </ion-text>
      </p>
      <ion-button color="danger" size="full" (click)="retryPayment(purchase)"
        test-id="retry-payment-button">
        Tentar novamente
      </ion-button>
    </div>
    <p *ngIf="purchase.address">Entrega à domicílio</p>
    <p *ngIf="!purchase.address">Busca na loja</p>
    <p>
      Pagamento com
      <b><ion-text color="primary">{{purchase.payment?.type | paymentType}}</ion-text></b>.
    </p>
    <p>Pedido criado em {{purchase.createdAt | date: "dd/MM/yyyy HH:mm"}}</p>
  </ion-card-content>
</ion-card>