ion-content {
    --padding-top: 7rem;
}

.empty-results {
    margin: 10rem 0;
    text-align: center;
    font-size: 1.8rem;
}

.loader {
    ion-card-content {
        padding: 0;
    }
    ion-skeleton-text {
        margin: 0;
        height: 20rem;
    }
}