ion-content {
    --padding-top: 70px;
}

section {
    margin: 2rem;
    text-align: center;
}
section.purchase {
    margin: 8rem 2rem;
}

ion-icon {
    font-size: 6rem;
}
p {
    font-size: 2rem;
}
ion-button {
    margin: 1rem 0;
}